body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:58px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:10px;
  width:1325px;
  height:58px;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:41px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:78px;
  width:1020px;
  height:41px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:473px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:129px;
  width:1185px;
  height:473px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:228px;
  width:1181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:264px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:167px;
  width:326px;
  height:264px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:174px;
  width:43px;
  height:16px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:200px;
  width:326px;
  height:1px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:212px;
  width:53px;
  height:16px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:265px;
  width:53px;
  height:16px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:238px;
  width:53px;
  height:16px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:291px;
  width:27px;
  height:16px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:212px;
  width:29px;
  height:16px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:235px;
  width:244px;
  height:22px;
}
#u3063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3063_input:disabled {
  color:grayText;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:262px;
  width:218px;
  height:25px;
}
#u3064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:1562px;
  top:267px;
  width:14px;
  height:16px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:297px;
  width:242px;
  height:83px;
}
#u3067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:83px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:390px;
  width:96px;
  height:31px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:92px;
  word-wrap:break-word;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:274px;
  width:0px;
  height:0px;
}
#u3070_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u3070_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-4px;
  width:8px;
  height:33px;
}
#u3070_seg2 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:21px;
  width:15px;
  height:8px;
}
#u3070_seg3 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:15px;
  width:20px;
  height:20px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:479px;
  width:412px;
  height:123px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:408px;
  word-wrap:break-word;
}
