body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:621px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:48px;
  width:920px;
  height:621px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:44px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:140px;
  width:82px;
  height:44px;
  color:#FF0000;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:5px;
  width:71px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:100px;
  width:305px;
  height:61px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
