body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:496px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:995px;
  height:496px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:553px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:144px;
  width:553px;
  height:63px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:549px;
  word-wrap:break-word;
}
