body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:657px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:1346px;
  height:657px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:202px;
  width:57px;
  height:16px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:209px;
  width:99px;
  height:16px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:88px;
  width:722px;
  height:62px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:718px;
  word-wrap:break-word;
}
