body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1346px;
  height:657px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:17px;
  width:1346px;
  height:657px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:1342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:209px;
  width:99px;
  height:16px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:385px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:240px;
  width:732px;
  height:385px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:728px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:384px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:225px;
  width:396px;
  height:384px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:184px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:209px;
  width:57px;
  height:16px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:17px;
  width:722px;
  height:306px;
  font-size:14px;
  color:#0000FF;
  text-align:left;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:718px;
  word-wrap:break-word;
}
